.block--custom-layout__jd{
    padding: 192px 15px 134px;

    @media(max-width: $bp_tabletPortrait3){
        padding: 150px 15px 134px;
    }

    @media(max-width: $bp_mobileMedium){
        padding: 119px 15px 134px;
    }

    .jd-inner {
        max-width: 1204px;
        margin: 0 auto;

        .jd-list {
            display: flex;

            @media(max-width: $bp_tabletPortrait3){
                display: block;
            }
        }

        .jd-auth-top {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

            @media(max-width: $bp_tabletPortrait3){
                display: block;
            }
        }

        .jd-auth-item {
            margin-right: 27px;

            @media(max-width: $bp_tabletPortrait3){
                margin-bottom: 20px;
                margin-right: 0;
            }
        }

        .jd-icon {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 8px;

            @media(max-width: $bp_mobileMedium){
                display: block;
                margin-right: 0;
                margin-bottom: 10px;
            }
            
        }

        .jd-text {
            display: inline-block;
            vertical-align: bottom;
            font-family: $mainFont;

            @media(max-width: 1199px){
                font-size: 13px;
            }
        }
        

        .jd-left.jd-col {
            width: 52.65%;

            @media(max-width: 1199px){
                padding-right: 10px;
            }

            @media(max-width: $bp_tabletPortrait3){
                width: 100%;
                padding: 0;
                text-align: center;
            }

            .jd-response {
                margin-top: 8px;

                h3 {
                    margin-bottom: 10px;
                }
            }

            .jd-req {
                margin-top: 29px;
                h3 {
                    margin-bottom: 10px;
                }
            }

            .jd-pay {
                margin-top: 18px;

                h3 {
                    margin-bottom: 10px;
                }
            }


            h3 {
                color: #363E45;
                font-size: 24px;
                font-weight: 700;
            }

            p,
            li {
                color: #363E45;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 0;
            }

            .jd-left-inner {
                max-width: 550px;

                @media(max-width: $bp_tabletPortrait3){
                    max-width: 100%;
                }

                .jd-title {
                    margin-bottom: 20px;

                    @media(max-width: $bp_mobileMedium){
                        margin-top: 55px;
                    }

                    h2 {
                      color: #363E45;  
                      font-size: 36px;
                      font-weight: 700;
                      letter-spacing: 0.72px;
                    }
                }

                .jd-para {
                    p {
                        color: #363E45;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0.4px;
                        margin-bottom: 21px;
                    }
                }
            }
        }

        .jd-right.jd-col {
            width: 47.35%;

            @media(max-width: $bp_tabletPortrait3){
                width: 100%;
                padding: 0;
                margin-top: 80px;
            }

            @media(max-width: $bp_mobileMedium){
                margin-top: 30px;
            }

            h2.gform_title {
                display: none;
            }

            p.gform_required_legend {
                display: none;
            }

            .jd-right-inner {
                background: #fff;
                box-shadow: 0px 38px 49px 0px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                padding: 30px 15px;

                @media(max-width: $bp_mobileMedium){
                    padding: 30px 20px;
                }

                .jd-form {
                    max-width: 506px;
                    margin: 0 auto;
                    font-family: $mainFont;

                    .jd-form-title {
                        margin-bottom: 20px;
                        h2 {
                            font-size: 24px;
                            font-weight: 700;
                            color: #07B88C;
                        }
                    }

                    .gform_fields {
                        display: block !important;
                    }

                    .gfield_label.gform-field-label {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    legend.gfield_label.gform-field-label {
                        max-width: 293px;
                        width: 100%;
                        position: relative;
                        display: inline-block;
                    }

                    .gfield_checkbox {
                        display: flex !important;
                        flex-direction: row !important;

                        @media(max-width: $bp_mobileMedium){
                            justify-content: center;
                        }
                    }

                    span.gfield_required {
                        display: inline-block;
                        font-size: 18px;
                        position: relative;
                        right: -2px;
                    }

                    .gform_drop_area {
                        background: #F0F1F4 !important;
                        border: none !important;
                        height: 200px !important;
                    }

                    .ginput_container {
                        margin-bottom: 20px;
                        input,
                        textarea {
                            background-color: #F0F1F4;
                            height: 50px;
                            padding: 0 15px;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 0.32px;
                            color: #363E45;
                            border: none;
                            border-radius: 0 !important;
                        }

                        textarea {
                            resize: none;
                            height: 100px!important;
                            min-block-size: 0 !important;
                            padding-top: 10px;
                        }
                    }

                    .ginput_container.ginput_container_checkbox {
                        position: absolute;
                        top: -38px;
                        right: 0;

                        @media(max-width: $bp_tabletPortrait3){
                            position: relative;
                            top: 0;
                        }
                    }

                    .gfield--type-checkbox {
                        margin-bottom: 16px;
                        position: relative;

                        @media(max-width: $bp_mobileMedium){
                            text-align: center;
                        }
                    }

                    .gform_drop_area:before {
                        background-image: url(../assets/images/form-dl.svg);
                        background-repeat: no-repeat;
                        background-position: 50%;
                        background-size: 100% 100%;
                        font-size: 0;
                        width: 50px;
                        height: 50px;
                        left: 5;
                        position: absolute;
                        top: 16px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    .gform_button_select_files {
                        background-color: #07B88C !important;
                    }

                    span.gform_drop_instructions {
                        margin-top: 35px;
                    }                    

                    .gchoice {
                        margin-right: 17px;
                        input {
                            width: 22px !important;
                            height: 22px !important;
                            background-color: #fff !important;
                            border: 1px solid #363E45 !important;
                            border-radius: 50% !important;
                            padding: 0;
                        }

                        label {
                            font-size: 18px;
                            font-weight: 400;
                            color: #363E45;
                        }
                    }

                    .gform_fileupload_rules {
                        display: none;
                    }

                    .gfield--type-html h3 {
                        font-size: 20px;
                        letter-spacing: 0.32px;
                        font-weight: 700;
                        color: #363E45;
                        margin-bottom: 20px;
                    }

                    .gform_footer {
                        width: 100%;
                        margin: 0;

                        input {
                            border-radius: 5px;
                            width: 100%;
                            height: 50px;
                            background-color: #07b88c;
                            padding: 0;
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: .32px;
                            text-align: left;
                            display: block;
                            background-image: url(../assets/images/sched-icon.svg);
                            background-repeat: no-repeat;
                            background-position: top 13px right 210px;
                            /* padding-left: 19px; */
                            text-align: center;
                            padding-right: 57px;
                            text-transform: uppercase;
                            font-size: 16px !important;

                            @media(max-width: $bp_mobileMedium){
                                background-position: top 13px right 123px;
                            }
                        }
                    }
                }
            }
        }
    }
}